<!DOCTYPE html>
<html ng-app="todoApp" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TODO List</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>

    <div ng-controller="TodoController as td" class="smallerbox">

      <form ng-submit="td.addTask()" class="smallerbox">
        <h2>TODO List</h2>
          <p>A place to store the list of things you have to do!</p>
            <input type="text" placeholder="Filter your to-dos" ng-model="itemName">

              <ol>
                <li ng-repeat="item in td.list | filter: itemName track by $index"
                ng-class="{ 'completed': item.completed === true}">

                  <button type="button" id="complete" ng-if="item.completed === false"
                  ng-click="td.completeTask($index);">Complete</button>
                      {{ item.task }}
                    <i class="material-icons" ng-click="td.removeTask($index);">close</i>
                </li>
              </ol>

            <input type="text" ng-model="td.newTask.name" placeholder="Add your to-do"><br>

            <button id="add">Add</button>
        </form>

    </div> <!--end of controller div-->

    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>

  </body>
</html>
