body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: linear-gradient(to right, #f857a6, #ff5858);
  display: flex;
  flex-direction: column;
}

p {
  margin: 2px 5px;
  padding: 5px;
}

h2 {
  margin-left: 7px;
  margin-bottom: 5px;
}

.smallerbox {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  min-height: 375px;
  /* min-width: 475px; */
  margin: 0 auto;
  position: relative;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #bbb; /*light grey*/
  border: 1px solid #eee;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
  padding: 5px;

}

ol {
  margin-left: 0px;
}

li {
  margin: 5px;
}

#add {
  background-color: #ff1493; /*hot pink*/
  font-family: 'Open Sans', sans-serif;
  color: white;
  border-radius: 5px;
  width: 89%;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 35px;
  cursor: pointer;
}

#complete {
  color: #ff69b4; /*lighter pink*/
  border: 1px solid #ff69b4; /*lighter pink*/
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}


.material-icons {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
